.hr__wr {
  background-color: #ebf8ff;
}

.hr {
  padding: 7rem 10rem;
}

.hr__content {
  display: flex;
  gap: 4rem;
}

.hr__text {
  width: 50%;
}

.hr__text h1 {
  color: #2a4365;
  font-size: 42px;
}

.hr__img {
  width: 50%;
  margin-top: -2rem;
}

.hr__img img {
  width: 100%;  
}

.hr__open_btn {
  padding: 0.5rem 2rem;
  background: #2a4365;
  border: 1px solid #5468dd;
  font-family: "Inter" sans-serif;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  margin-top: 1rem;
}
