.wrapperr {
  background-color: #08131a;
  background-image: url('/bg5.svg'); 
  height: 100vh;
  background-size: cover;
  position: relative;
}

.wrapper {
  padding: 1rem;
}
.container {
  min-height: 100vh;
  padding: 0 1rem;
}

.main {
  padding: 3rem 0;
  flex: 1;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
