.nav__desktop {
  display: none;
}

.nav__wr {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  background-color: #ebf8ff;
}

.logo {
  margin-top: -18px;
}

.logo h3 {
  font-size: 25px;
  font-weight: 600;
  color:  #2a4365;
}

.Nav.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: #08131a;
  max-height: 100%;
  height: 100vh;
  padding: 0px 0px;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(1, 1, 0.5, 1);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.Nav.open a:hover {
  color: grey;
}

.Nav {
  display: none;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin-top: 6rem;
}

.side__nav_logo {
  position: absolute;
  top: 5px;
  left: 20px;
}

.side__nav_logo h2 {
  font-weight: 500;
}

.nav__list li {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: gray;
  font-weight: 400;
  letter-spacing: 5px;
}
 
.side__nav_social_icons {
  display: flex;
  justify-content: center;
  gap: 2.3rem;
  width: 100%;
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  .nav__desktop {
    display: block;
  }

  .nav__desktop ul{
    list-style: none;
    display: flex;

  }

  .nav__desktop ul li{
    margin-right: 2.5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    color: #718096;
  }

  .nav__wr {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 10.3rem;
  }
}